* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/macarons.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 600px;
    margin: auto auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 3em;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(251, 225, 192, 0.85);
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
}

.bmi-form {
    display: flex;
    flex-direction: column;
}

.bmi-form-row {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
}

.bmi-form-row input {
    font-size: 1.5em;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.bmi-form-row input:focus {
    border: 2px solid #984050;
    color: #984050;
}

.bmi-form-row label {
    margin-bottom: 10px;
    font-weight: 700;
}

.oblicz {
    background-color: #984050;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    display: inline-block;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    padding: 20px 50px;
    text-transform: uppercase;
    margin-top: 40px;
}


