* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/macarons.jpg");
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 320px;
    margin: auto auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 3em;
    text-align: center;
}

.main-content {
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(251, 225, 192, 0.85);
    border-radius: 5px;
}

.wzrost,
.waga {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

label {
    margin-bottom: 10px;
    font-weight: 700;
}

.oblicz {
    background-color: #984050;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    display: inline-block;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    padding: 20px 50px;
    text-transform: uppercase;
    margin-top: 40px;
}

input {
    font-size: 1.5em;
}

input:focus {
    border: 2px solid #984050;
    color: #984050;
}

